body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Background gradient */
  background: #1c1c1c;
  font-family: 'Poppins', sans-serif;
}

/* Glass container */
#calculator {
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  height: 550px;
  background: #000;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

/* Display */
#display {
  width: 90%;
  height: 150px;
  border: none;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 30px;
  text-align: right;
  background: #111;
  color: white;
  box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
}

/* Grid layout */
.button_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

/* Buttons */
.btn1 {
  height: 55px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  background: #333;
  color: white;
  backdrop-filter: blur(5px);
  transition: 0.2s;
   box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

/* Hover effect */
.btn1:hover {
  background: rgba(255,255,255,0.3);
}

/* Click effect */
.btn1:active {
  transform: scale(0.95);
}

/* Operators (right side) */
.op {
   background: #ff9500;
  color: white;
}

.op:hover {
  background: #ffb84d;
}

/* Equal button */


.equal {
  grid-column: span 3;
    background: #ff9500;
  color: white;
   
}

/* Clear button */
.clear {
  background: #a5a5a5;
  color: black;
}